// Colors

$sidebar-color: rgba(black, 0.02);
$header-color: rgba(#000000, 0.01);
$primary: #1865ca;
$gray-dark: #222222;
$gray-normal: #777777;

// Fonts
$roboto: 'Roboto', sans-serif;
$alatsi: 'Alatsi', sans-serif;
